{% extends "layout.html" %}

<!-- PAGE FOR CREATING USER -->

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_createuser') }}">
  <table>

      <!-- Name -->
    <tr>
      <td>
	{{ form.name.label }}
      </td>
      <td>
	{{ form.name }}
      </td>
      <td>
            <ul>
                  {% for error in form.name.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
            </ul>
      </td>
    </tr>
    
    <!-- Username -->
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>
      <td>
            <ul>
                  {% for error in form.username.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
            </ul>
      </td>
    </tr>

    <!-- Password -->
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
      </td>
      <td>
            <ul>
                  {% for error in form.password.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
            </ul>
      </td>
    </tr>

    <!-- Repeat password -->
    <tr>
      <td>
	{{ form.confirm.label }}
      </td>
      <td>
	{{ form.confirm }}
      </td>
      <td>
            <ul>
                  {% for error in form.confirm.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
            </ul>
      </td>
    </tr>

    <!-- Submit -->
    <tr>
      <td colspan="2">
	<input type="submit" value="Create user"/>
      </td>
    </tr>
</form>
{% endblock %}