{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('tasks_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.supply.label }}
	</td>
	<td>
	  {{ form.supply }}
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.minerals.label }}
	</td>
	<td>
	  {{ form.minerals }}
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.gas.label }}
	</td>
	<td>
	  {{ form.gas }}
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.buildtime.label }}
	</td>
	<td>
	  {{ form.buildtime }}
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Edit a new unit"/>
	</td>
      </tr>
  </form>
{% endblock %}
