{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Unit</th>
      <th>Supply</th>
      <th>Minerals</th>
      <th>Gas</th>
      <th>Build time</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.supply }}</td>
      <td>{{ task.minerals }}</td>
      <td>{{ task.gas }}</td>
      <td>{{ task.buildtime }}</td>
      <td>
	<form method="POST" action="{{ url_for('edit_unit', task_id=task.id) }}">
	  <input type="submit" value="Edit unit (NOT YET IMPLEMENTED)"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
