{% extends "layout.html" %}


<!-- PAGE FOR VIEWING SINGLE BUILDORDER -->


{% block body %}


<!-- If current user == creator, will show edit and delete buttons -->
{% if current_user.id == buildorder.account_id %}

<a href="{{ url_for('edit_buildorder', buildorder_id=buildorder.id) }}">Edit</a>
</br>
<a href="{{ url_for('delete_buildorder', buildorder_id=buildorder.id) }}">Delete</a>

{% endif %}


  <h1>{{ form.name.data }}</h1>

    <h3>{{ form.description.label }}</h3>
        <p>{{ form.description.data }}</p>

    <h3>{{ form.buildtype.label }}</h3>
        <p>{{ form.buildtype.data }}</p>

    <h3>{{ form.race.label }}</h3>
        <p>{{ form.race.data }}</p>

    <h3>{{ form.intro.label }}</h3>
        <p>{{ form.intro.data }}</p>

    <h3>{{ form.vod.label }}</h3>
        <p>{{ form.vod.data }}</p>

    <h3>{{ form.details.label }}</h3>
        <p>{{ form.details.data }}</p>

    <h3>{{ form.analysis.label }}</h3>
        <p>{{ form.analysis.data }}</p>


{% endblock %}
