{% extends "layout.html" %}
  
{% block body %}

<!-- PAGE FOR EDITING BUILDORDERS -->

<form method="POST" action="{{ url_for('edit_buildorder', buildorder_id = buildorder.id) }}">


    <!-- Name -->
    <div class="form-group">
        <label for="name">{{ form.name.label }}</label>
        {{ form.name(class="form-control", rows=1) }}
        <ul>
            {% for error in form.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    
    <!-- Buildtype -->
    
        <label for="buildtype">{{ form.buildtype.label }}</label>
        {{ form.buildtype(class="form-control", rows=1) }}
        <ul>
            {% for error in form.buildtype.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    

    <!-- Race -->
    
        <label for="race">{{ form.race.label }}</label>
        {{ form.race(class="form-control", rows=1) }}
        <ul>
            {% for error in form.race.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    

    <!-- Description -->
    
        <label for="description">{{ form.description.label }}</label>
        {{ form.description(class="form-control", rows=5) }}
        <ul>
            {% for error in form.description.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    


    <!-- Introduction -->
    
        <label for="intro">{{ form.intro.label }}</label>
        {{ form.intro(class="form-control", rows=5) }}
        <ul>
            {% for error in form.intro.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    


    <!-- VOD -->
    
        <label for="vod">{{ form.vod.label }}</label>
        {{ form.vod(class="form-control", rows=1) }}
        <ul>
            {% for error in form.vod.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    


    <!-- Details -->
    
        <label for="details">{{ form.details.label }}</label>
        {{ form.details(class="form-control", rows=5) }}
        <ul>
            {% for error in form.details.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    


    <!-- Analysis -->
    
        <label for="analysis">{{ form.analysis.label }}</label>
        {{ form.analysis(class="form-control", rows=5) }}
        <ul>
            {% for error in form.analysis.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
 

    <!-- Submit -->
    <tr>
		<td colspan="2">
			<input type="submit" value="Edit buildorder"/>
		</td>
    </tr>
  </form>
{% endblock %}
