{% extends "layout.html" %}

{% block body %}

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Buildorder</th>
      <th>Race</th>
      <th>Buildtype</th>
      <th>Creator</th>
    </tr>
    {% for buildorder in buildorders %}
    <tr>
      <td><a href="{{ url_for('single_buildorder', buildorder_id=buildorder.id) }}">{{ buildorder.name }}</a></td>
      <td>{{ buildorder.race }}</td>
      <td>{{ buildorder.buildtype }}</td>
      <td>{{ buildorder.find_creatorName(buildorder.account_id) }}</td>

      {% if current_user.id == buildorder.account_id %}
      <td>
        <a href="{{ url_for('edit_buildorder', buildorder_id=buildorder.id) }}">Edit</a>
      </td>
      <td>
        <a href="{{ url_for('delete_buildorder', buildorder_id=buildorder.id) }}">Delete</a>
	    </td>
      {% endif %}

    </tr>
    {% endfor %}
  </table>




  
{% endblock %}