{% extends "layout.html" %}
  
{% block body %}

<!-- PAGE FOR CREATING BUILDORDER -->



<form method="POST" action="{{ url_for('buildorder_create') }}">
    <table>

		<!-- Name -->
      <tr>
			<td>
				{{ form.name.label }}
			</td>
			<td>
				{{ form.name }}
			</td>
			<td>
				<ul>
					{% for error in form.name.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
	  </tr>

	  <!-- Buildtype -->
	  <tr>
		<td>
			{{ form.buildtype.label }}
		</td>
		<td>
			{{ form.buildtype }}
		</td>
		<td>
			<ul>
				{% for error in form.buildtype.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</td>
	  </tr>

	  <!-- Race -->
	  <tr>
		<td>
			{{ form.race.label }}
		</td>
		<td>
			{{ form.race }}
		</td>
		<td>
			<ul>
				{% for error in form.race.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</td>
	  </tr>

	  <!-- Description -->
      <tr>
			<td>
				{{ form.description.label }}
			</td>
			<td>
				{{ form.description }}
			</td>
			<td>
				<ul>
					{% for error in form.description.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
	  </tr>
	  
	  <!-- Introduction -->
      <tr>
			<td>
				{{ form.intro.label }}
			</td>
			<td>
				{{ form.intro }}
			</td>
			<td>
				<ul>
					{% for error in form.intro.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
	  </tr>
	  
	  <!-- VOD -->
      <tr>
			<td>
				{{ form.vod.label }}
			</td>
			<td>
				{{ form.vod }}
			</td>
			<td>
				<ul>
					{% for error in form.vod.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
	  </tr>
	  
	  <!-- Details -->
      <tr>
			<td>
				{{ form.details.label }}
			</td>
			<td>
				{{ form.details }}
			</td>
			<td>
				<ul>
					{% for error in form.details.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</td>
	  </tr>
	  
	  <!-- Analysis -->
      <tr>
        <td>
            {{ form.analysis.label }}
        </td>
        <td>
            {{ form.analysis }}
        </td>
        <td>
            <ul>
                {% for error in form.analysis.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </td>
	  </tr>

	  <!-- Submit -->
      <tr>
		<td colspan="2">
	 	 <input type="submit" value="Add a new buildorder"/>
		</td>
      </tr>
  </form>
{% endblock %}
