{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('buildorder_create') }}">
    <table>
      <tr>
				<td>
					{{ form.name.label }}
				</td>
				<td>
					{{ form.name }}
				</td>
				<td>
					<ul>
						{% for error in form.name.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</td>
      </tr>
      <tr>
				<td>
					{{ form.description.label }}
				</td>
				<td>
					{{ form.description }}
				</td>
				<td>
					<ul>
						{% for error in form.description.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</td>
      </tr>
      <tr>
				<td>
					{{ form.intro.label }}
				</td>
				<td>
					{{ form.intro }}
				</td>
				<td>
					<ul>
						{% for error in form.intro.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</td>
      </tr>
      <tr>
				<td>
					{{ form.vod.label }}
				</td>
				<td>
					{{ form.vod }}
				</td>
				<td>
					<ul>
						{% for error in form.vod.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</td>
      </tr>
      <tr>
				<td>
					{{ form.details.label }}
				</td>
				<td>
					{{ form.details }}
				</td>
				<td>
					<ul>
						{% for error in form.details.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</td>
      </tr>
      <tr>
        <td>
            {{ form.analysis.label }}
        </td>
        <td>
            {{ form.analysis }}
        </td>
        <td>
            <ul>
                {% for error in form.analysis.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </td>
</tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Add a new buildorder"/>
	</td>
      </tr>
  </form>
{% endblock %}
