{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Unit</th>
      <th>Supply</th>
      <th>Minerals</th>
      <th>Gas</th>
      <th>Build time</th>
    </tr>
    {% for unit in units %}
    <tr>
      <td>{{ unit.name }}</td>
      <td>{{ unit.supply }}</td>
      <td>{{ unit.minerals }}</td>
      <td>{{ unit.gas }}</td>
      <td>{{ unit.buildtime }}</td>
      <td>
        <a href="{{ url_for('edit_unit', unit_id=unit.id) }}">Edit unit</a>
        <a href="{{ url_for('delete_unit', unit_id=unit.id) }}">Delete unit</a>
	<!-- <form method="POST" action="{{ url_for('edit_unit', unit_id=unit.id) }}">
	  <input type="submit" value="Edit unit (NOT YET IMPLEMENTED)"/>
	</form> -->
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
