{% extends "layout.html" %}

{% block body %}

<!-- PAGE FOR LISTING ALL UNITS -->

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Unit</th>
      <th>Supply</th>
      <th>Minerals</th>
      <th>Gas</th>
      <th>Build time</th>
      <th>Creator</th>
    </tr>
    {% for unit in units %}
    <tr>
      <td>{{ unit.name }}</td>
      <td>{{ unit.supply }}</td>
      <td>{{ unit.minerals }}</td>
      <td>{{ unit.gas }}</td>
      <td>{{ unit.buildtime }}</td>
      <td>{{ unit.find_creatorUserName(unit.account_id) }}</td>



      <!-- Shows buttons for edit and delete IF current user == creator -->
      {% if current_user.id == unit.account_id %}
      <td>
        <a href="{{ url_for('edit_unit', unit_id=unit.id) }}">Edit</a>
      </td>
      <td>
        <a href="{{ url_for('delete_unit', unit_id=unit.id) }}">Delete</a>
	    </td>
      {% endif %}

    </tr>
    {% endfor %}
  </table>
{% endblock %}

</div>

  
